*{
    margin: 0;
    padding: 0;
}
#banner{
    background-image: url(/images/beauty2.jpg);
    background-size:cover;
    background-repeat: no repeat;
    background-position:center;
    background-attachment: fixed;
    height:100vh;
    width: 100vw;
}

.logo{
   width: 10vw;
   /* right: 5%; */
   /* float: right; */
  position:fix;
  padding-bottom: 80px;

}

.banner-text{
text-align: center;
color: rgb(175, 154, 194);
/* padding-right: 5%;
padding-bottom: 20%; */
margin-bottom: 100%;
position: fixed;
}